.footer {
    margin-top: 20px;
    display: block;

    &-top {
        background-color: #003878;

        &-column {
            /*display: inline!important;*/
            display: flex;
            flex-wrap: wrap;
            margin-right: -10px;
            margin-left: -10px;
            padding: 20px 0;

            span {
                color: #fff;
                font-weight: bold;
            }

            ul {
                li {
                    a {
                        color: #fff;
                    }
                }
            }

        }
    }

    &-bottom {
        .copyright {
            font-size: 16px;
            margin: 20px 0;

            svg {
                height: 24px;
                margin-right: 10px;
                vertical-align: middle;
            }

            span {
                color: #003878;
                vertical-align: middle;
            }
        }
    }
}
